/* ## Landing Page
--------------------------------------------- */
.intro-title {
    font-size: 42px;
    margin-bottom: 10px;
    
  
}

.action-call {
//    background-image: url(../images/jet1920.jpg);
//    height: 95vh;
//    background-size: cover;
//    position: relative;
//    background-position: center;
//    
//    @media screen and (max-width: 1024px) {
//        
//    height: 100vh;
//    background-size: cover;
//    position: relative;
//    background-position: center;
//    }
//    
//    @media screen and (max-width: 768px) {
//         background-image: url('images/jet768.jpg');
//    height: 100vh;
//    background-size: cover;
//    position: relative;
//    background-position: center;
//    }
    
    .action-call-header{
       
      top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
   
        text-align: center;
        width: 100%;
        color: white;
        p.lead-title {
             font-size: 65px;
            
            @media screen and (max-width: 1352px) {
                font-size: 48px;
            }  
        }
        p.sub-heading {
            font-size: 32px;
        }  
    }
    
}

.scroll-btn-header {
    @extend .scroll-btn;
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
        
}


.ldg-bg-img {
   
    
    height: 460px;
   
   
    margin-top: -20px;
    
    
    color: white;
    text-align: center;
    font-size: 24px;
    
//    @media screen and (max-width: 996px) {
//        background: url(<?php echo $medium ?>) center center no-repeat; background-size: cover;   height: 92vh; position: relative;
//    }
    
}

/*Styles for the text in columns under header*/

.benefits-process {
    height: 100vh;
    
    @media screen and (max-width: 414px) {
        height: auto;
    }
}

.benefits-text {
    min-height: 300px;
    background: black;
    margin: 0 auto;
    width: 100vw;
}

#column-text {
    background: black;
    color: $bc-pink;
    padding: 50px 10px 50px 20px;
    text-align: center;
   
    
    
    .fa {
        font-size: 50px;
        padding-bottom: 20px;
    }
    
    .column-lead {
        text-align: center;
        font-size: 22px;
    }
}

.ldg-container {
    padding: 0;
    
}

.scroll-btn {
    text-align: center;
    font-size: 50px;
    
    .fa-chevron-circle-down {
        color: white;
        
        &:hover {
            color: $bc-pink;
        }
    }
}



/* ## Map Section
--------------------------------------------- */

#bg-map {
height: 80vh;
position: relative;
    
    @include phone {
        height: 100vh;
    }
    
    @media screen and (max-width: 320px) {
        height: 120vh;
    }
   
}

.scroll-btn-process {
    @extend .scroll-btn;
    
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    
    .fa-chevron-circle-down {
        color: $bc-pink;
        
        &:hover {
            color: grey;
        }
    }
}

.map-text {
    
    @extend .col-sm-12;
    
    text-align: center;
    padding-top: 30px;
    color: $bc-black;
    font-weight: 600;
    
    p {
        margin-bottom: 5px;
    }
    
    @include tablet {
        font-size: 16px;
       width: 100%;
        padding-top: 70px;
    }
    
    @include phone {
        font-size: 14px;
    }
    
    @include extra-small {
        font-size: 12px;
    }
}

/* ## Client Reviews
--------------------------------------------- */

.client-reviews {
    background: $bc-black;
    color: $bc-pink;
    text-align: center;
    height: 350px;
    position: relative;
    padding-top: 20px;
}

.review-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    
    p.lead {
        font-size: 22px;
        margin-top: 30px;
    }
    
    @include phone {
        font-size: 14px;
    }
    
     @include extra-small {
        font-size: 12px;
    }
}

.contact-btn {
    text-align: center;
   height: 200px;
   position: relative;
    background: white;
    
    button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border: solid 5px $bc-pink;
    color: $bc-black;    
        
     @include phablet {
            width: 100%;
        }        
        
     @include extra-small {
        font-size: 12px;
         width: 100%;
    }  
      
        &:hover {
            background: $bc-black;
            color: $bc-pink;
        }
       
        
    }
    
}

